@import "../../scss/breakpoints";

.about {
  $block-name: &; // #{$block-name}__element

  width: 100vw;
  height: 500px;
  min-height: auto;
  background: var(--grey-dark);

  @media screen and (min-width: $screen-d) {
    height: 2000px;
    min-height: 100vh;
  }
}
