@import "../../scss/breakpoints";

.news {
  $block-name: &; // #{$block-name}__element

  width: 100vw;
  height: 500px;
  min-height: auto;
  background: lightgrey;

  @media screen and (min-width: $screen-d) {
    height: 100%;
  }
}
