@import "../../scss/breakpoints";

.planet {
  $block-name: &; // #{$block-name}__element

  width: 100vw;
  height: 500px;
  min-height: auto;
  background: var(--white);

  @media screen and (min-width: $screen-d) {
    height: 100%;
    min-height: 100vh;
  }
}
