@import "../../scss/breakpoints";
@import "../../scss/mixins/fluid";

.hero {
  $block-name: &;

  overflow: hidden;
  background: var(--purple);

  @media screen and (min-width: $screen-d) {
    width: 99vw;
    height: 100vh;
  }

  &__inner {
    position: relative;
    z-index: 5;
    padding: 40px 0;

    @media screen and (min-width: $screen-tl) {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      height: 100%;
      padding: 60px 0 0;
    }

    @media screen and (min-width: $screen-d) {
      padding: 100px 0 0;
    }
  }

  &__left,
  &__right {
    @media screen and (min-width: $screen-tl) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__left {
    @media screen and (min-width: $screen-tl) {
      grid-column: 1/span 5;
      grid-template-columns: repeat(7, 1fr);
      height: 100vh;
    }
  }

  &__right {
    @media screen and (min-width: $screen-tl) {
      grid-column: 7/span 6;
      grid-template-columns: repeat(6, 1fr);
      height: 100vh;
    }
  }

  &__container-photo {
    position: relative;
    left: 15%;
    display: flex;
    justify-content: flex-end;
    width: 85%;
    max-height: 50%;
    margin: 20px 0;

    @media screen and (min-width: $screen-d) {
      margin: 0;
    }
  }

  &__photo {
    width: 100%;
    object-fit: contain;

    @media screen and (min-width: $screen-tl) {
      object-fit: none;
    }

    @media screen and (min-width: $screen-dxl) {
      object-fit: contain;
    }
  }

  &__container-quote {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    padding-bottom: 40px;

    @media screen and (min-width: $screen-d) {
      padding-bottom: 80px;
    }
  }

  &__svg-quote {
    flex-shrink: 0;
    width: 30px;
    height: 30px;

    @media screen and (min-width: $screen-d) {
      width: 48px;
      height: 48px;
    }

    &--top {
      position: relative;
      top: -20px;

      @media screen and (min-width: $screen-d) {
        top: -40px;
      }
    }

    &--bottom {
      position: absolute;
      right: 0;
      bottom: 40px;

      @media screen and (min-width: $screen-d) {
        position: relative;
        bottom: -70px;
      }
    }
  }

  &__text-quote,
  &__text-name {
    width: calc(100% - 30px);
    margin: 0;
    color: var(--white);
    font-weight: 300;
    line-height: fluid(20, 24, 320, 1680);

    @media screen and (min-width: $screen-d) {
      width: 100%;
    }
  }

  &__text-quote {
    margin-bottom: 16px;
    font-size: fluid(14, 18, 320, 1680);
  }

  &__text-name {
    font-size: fluid(14, 16, 320, 1680);
    text-align: right;
  }

  &__title-block,
  &__text {
    color: var(--white);
    font-weight: 300;
    font-style: normal;
  }

  &__title-block {
    margin: 0 0 16px;
    font-size: fluid(22, 32, 320, 1680);
    line-height: fluid(28, 36, 320, 1680);
  }

  &__text {
    margin: 0 0 10px;
    font-size: fluid(14, 16, 320, 1680);
    line-height: fluid(20, 24, 320, 1680);
  }

  &__block-stamps {
    display: none;
    gap: 0 50px;
    align-items: flex-end;

    @media screen and (min-width: $screen-tl) {
      display: flex;
    }
  }

  &__photo-stamps {
    &:first-child {
      transform: rotate(15deg);
    }

    &:last-child {
      transform: rotate(-15deg);
    }
  }
}
