@import "../../scss/breakpoints";

.corners {
  $block-name: &;

  display: none;

  @media screen and (min-width: $screen-tl) {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__left,
  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__icon {
    width: 10px;
    height: 10px;

    &--bottom-left {
      transform: scale(1, -1);
    }

    &--top-right {
      transform: scale(-1, 1);
    }

    &--bottom-right {
      transform: scale(-1, -1);
    }
  }
}
