extends ../templates/layout_default.pug

block variables
  - isMainPage = false
  - pageTitle = 'Стартовая страница'
  - metaDescription = 'description'
  - metaKeywords = 'keywords'

block content

  +scroll-indicator

  .horizontal-animation
    .horizontal-animation__inner
      .horizontal-animation__animation.horizontal-animation__animation--right
        .hero 1
        .about 2

  .horizontal-animation
    .horizontal-animation__inner
      .horizontal-animation__animation.horizontal-animation__animation--right
        .planet 3
        .technologies 4
        .gallery 5
        .news 6
