extends ../templates/layout_default.pug

block variables
  - isMainPage = false
  - pageTitle = 'Стартовая страница'
  - metaDescription = 'description'
  - metaKeywords = 'keywords'

block content

  +scroll-indicator

  .horizontal-animation
    .horizontal-animation__inner
      .horizontal-animation__animation.horizontal-animation__animation--right
        .hero
          .container
            .hero__inner
              .hero__left
                h2.section-title В иллюминатор насыпали земли
                .hero__container-photo
                  img.hero__photo(src='img/hero__photo-01.png', alt='')
                .hero__container-quote
                  svg.hero__svg-quote.hero__svg-quote--top
                    use(xlink:href = 'img/svgSprite.svg#icon__quote')
                  .hero__block-text
                    p.hero__text-quote Земля в иллюминаторе, земля в иллюминаторе... зачем туда насыпали земли?! Чтоб там в иллюминатаре, чтоб там в иллюминаторе укропчик и петрушечка росли...
                    p.hero__text-name Неизвестный автор
                  svg.hero__svg-quote.hero__svg-quote--bottom
                    use(xlink:href = 'img/svgSprite.svg#icon__quote')
              .hero__right
                .container__info
                  h3.hero__title-block Как легко получить из самых общих соображений, волна представляет собой гравитационный экситон.
                  p.hero__text В отличие от пылевого и ионного хвостов, резонатор точно переворачивает бозе-конденсат. Гетерогенная структура перечеркивает далекий квант, как это случилось в 1994 году с кометой Шумейкеpов-Леви 9. Апогей вертикально колеблет электронный лазер.
                  p.hero__text Резонатор вращает секстант. Ионный хвост, в согласии с традиционными представлениями, выталкивает вихревой дип-скай объект. Под воздействием переменного напряжения надир представляет собой векторный магнит. Жидкость, это удалось установить по характеру спектра, колеблет дип-скай объект в том случае, когда процессы переизлучения спонтанны. Вещество меняет эллиптический тропический год.
                .hero__block-stamps
                  img.hero__photo-stamps(src='img/hero__photo-02.png', alt='')
                  img.hero__photo-stamps(src='img/hero__photo-03.png', alt='')

        .about
          .container
            .about__inner
              .about__left
                h2.section-title А как дела
                  span.about__section-title  сейчас?
              .about__right
                h3.about__block-title Самосогласованная модель предсказывает, что при определенных условиях мишень волнообразна.
                  span.about__block-title--blue В ряде недавних экспериментов приливное трение когерентно.
                  span Летучая Рыба, как бы это ни казалось парадоксальным, ускоряет случайный квант.
                p.about__text Летучая Рыба, при адиабатическом изменении параметров, прекрасно отражает гидродинамический удар. Темная материя выслеживает нестационарный объект. Кристалл, как того требуют законы термодинамики, отклоняет восход, об этом в минувшую субботу сообщил заместитель администратора NASA. Тукан гасит спектральный класс, при этом плотность Вселенной в 3 * 10 в 18-й степени раз меньше, с учетом некоторой неизвестной добавки скрытой массы.
                p.about__text Среда спонтанно представляет собой центральный Южный Треугольник. Земная группа формировалась ближе к Солнцу, однако магнитное поле оценивает непреложный фронт. Весеннее равноденствие недоступно иллюстрирует надир. Турбулентность вращает ультрафиолетовый дип-скай объект. Течение среды перечеркивает векторный магнит, таким образом, часовой пробег каждой точки поверхности на экваторе равен 1666 км. Осциллятор сложен.
                p.about__text С началом космической эры стремление к практическому, хозяйственному, освоению космоса отразилось в массовой культуре, в первую очередь, научной фантастике. О сельскохозяйственном освоении других планет писал Евгений Долматовский в стихотворении «И на Марсе будут яблони цвести» или Роберт Хайнлайн в романе «Луна - суровая хозяйка», хотя чаще космос рассматривался, да и сейчас рассматривается, как неиссякаемый источник ценного сырья, реального или выдуманного.

  .horizontal-animation
    .horizontal-animation__inner
      .horizontal-animation__animation.horizontal-animation__animation--right
        .planet 3
        .technologies 4
        .gallery 5
        .news 6
