@import "../../scss/breakpoints";
@import "../../scss/mixins/fluid";

.section-title {
  $block-name: &;

  margin: 0;
  color: var(--white);
  font-size: fluid(26, 40, 320, 1680);
  font-family: var(--font-unbounded);
  line-height: fluid(26, 40, 320, 1680);
  text-transform: uppercase;
}
