@import "../../scss/breakpoints";

.scroll-trigger {
  $block-name: &;

  &__inner,
  &__animation {
    display: flex;
    min-height: 100vh;

    &--right {
      display: block;
      overflow: hidden;
      transform: none;

      @media screen and (min-width: $screen-d) {
        display: flex;
        overflow: inherit;
        transform: inherit;
      }
    }
  }
}
