@import "../../scss/breakpoints";

.scroll-trigger {
  $block-name: &; // #{$block-name}__element

  overflow-x: hidden;

  &__inner,
  &__animation {
    display: flex;
    min-height: 100vh;

    &--right {
      display: block;
      overflow: hidden;

      @media screen and (min-width: $screen-d) {
        display: flex;
        overflow: inherit;
      }
    }
  }
}
