@use "sass:color";

:root {
  --color-black: #000;
  --color-white: #fff;
  --white: #ffffff;
  --purple: #6028FF;
  --grey-dark: #282730;
  --purple-light: #D4D5FF;

  --font-base: var(--font-sans);
  --font-sans: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-serif: Georgia, "Times New Roman", Times, serif;
  --font-size-root: 100%;
  --font-size-base: 1rem;
  --font-weight-base: 400;
  --line-height-base: 1.25;
}

