@import "../../scss/breakpoints";

.technologies {
  $block-name: &;

  background: var(--purple-light);

  @media screen and (min-width: $screen-d) {
    position: relative;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
  }
}
